@charset "utf-8";
/*
   sample start file for final project - educational use only
   
   Author:  Nathaniel B 
   Date:     11/13/2023
   
   Filename: tables.css
  

*/


/* Table Styles */
table.schedule {
	background: white;
	border: 10px ouset rgb(153, 0, 153);
	font-size: 0.75em;
	width:100%;
}

/* Table Cell Styles */